/*-------------------------------------------------- General */

section{
    width: 720px;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}
sup{
   color: red;
}
#form1{
    background-color: grey;
}
#form2{
    background-color: pink;
}

/*------------------------------------------------- Formulaire 1 */


form{
    width: 70%;
    padding: 1em 0 0.2em 2em;
}
#form1 label{
    display: block;
    font-weight: bold;
    padding-top: 0.75em;
}
input, textarea, select{
    display: inline-block;
    width: 70%;
    line-height: 2em;
}
input[name=first], input[name=last]{
    width: 34%;
}
#form1 input[type=submit]{
    display: block;
    width: 15%;
    background-color: #3c97ae;
    border-width:  0;
    color:  white;
    padding: 0.4em;
}
select{
    padding: 0.7em;
}

/*--------------------------------------------------- Formulaire 2 */

#form2 label{
    display: inline-block;
    width: 25%;
}
#form2 input[type=tel]{
    width: 5%;
}

#form2 > form > input:nth-child(10){ /*explication Gaëtan*/
    display: inline-block;
    margin-right: 50%;
}
#form2 form > *{
    border-radius: 0.5rem;
}