
section{
    width: 720px;
    font-family: 'Roboto', sans-serif;
}

/* Formulaire 1 */
sup{
    color: red;
}
form{
    width: 70%;
    background-color: grey;
    padding: 2em;
}

label{
	display: block;
	font-weight: bold;

}
input, textarea, select{
    display: inline-block;
    width: 70%;
    line-height: 2em;
}
input[name=first], input[name=last]{
    width: 34%;
}
input[type=submit]{
    display: block;
    width: 20%;
}
select{
    padding: 0.7em;
}
