
section{
    width: 720px;
    font-family: 'Roboto', sans-serif;
}

/* Formulaire 1 */

form{
    width: 70%;
    background-color: grey;
    padding: 2em;
}

label{
	display: block;
	font-weight: bold;
	
}
input{
    display: inline-block;
}
